#secedit {
 margin:auto;
 background-color:#e9e9e9;
 border-radius:4px;
 border-spacing:0;
 box-shadow:1px 3px 3px #505050;
 font-size:0.9em;
}

#secedit th {
 text-align:right;
 vertical-align:top;
}

#secedit td {
 border-width:0px;
 padding:0px;
 vertical-align:top;
}

#secedit input {
 margin:2px;
}

#secedit textarea {
 padding:4px;
 font-family:Georgia,Times New Roman,serif;
}

#secedit label {
 font-size:0.8em;
}

/* Rich Text Editor settings */
.intLink {
 cursor: pointer;
}

img.intLink {
 border:0;
}

#toolBar1 {
 border-width:0px;
 border-top-width:1px;
 border-style:solid;
 border-color:#aaa;
 background-color:#e9e9e9;
}

#toolBar1 select {
 font-size:10px;
 font-family:Monaco,Lucida Console,monospace;
 margin:4px;
}

#toolBar2 {
 /*border:1px #aaa solid;*/
 margin-top:5px;
 vertical-align:bottom;
 width:100%;
 background-image:url('img/button-bg.png');
 background-repeat:repeat-x;
 background-size:100% 100%;
 cursor:pointer;
}

#toolBar2 img {
 vertical-align:bottom;
 padding-left:4px;
 padding-right:4px;
}

#toolBar2 img:hover {
 /*box-shadow:0px 0px 2px #ffffdf;*/
}

#textBox {
 width:800px;
 height:300px;
 border: 1px #aaa solid;
 overflow: scroll;
 cursor: text;
 background-color:#fff;
 color:#000;
}

#sourceText {
 width:768px;
 height:268px;
 font-size:0.9em;
 font-family:Courier New,Monaco,monospace;
 padding: 5px;
 margin: 0;
}

#editmode {
 cursor: pointer;
}

#editMode label {
 cursor: pointer;
 font-size:0.7em;
 font-weight:bold;
 font-family:Helvetica,sans-serif;
}

#saveSec,#saveEvt,.saveBtn {
 font-weight:bold;
 font-size:1em;
}

#cancelEvt,#cancelSec,.cancelBtn {
 font-size:1em;
 color:#333;
}

#delEvt {
 color:#a00;
 font-weight:bold;
 font-size:1em;
}

.edithome a {
 font-family:Helvetica,sans-serif;
}

.edithome img {
 height:1em;
 width:1em;
 position:relative;
 top:-2px;
}

.edithome b {
 display:block;
 margin-left:-20px;
 border-bottom:1px solid #eee;
 color:#006;
 font-size:1.1em;
 letter-spacing:1px;
 text-shadow:1px 1px 0 #fff;
}

.edithome p {
 font-size:0.8em;
 background-color:#fafafa;
 border:1px solid #eee;
 box-shadow:3px 3px 3px #aaa;
 border-radius:4px;
 margin:5px;
 margin-left:15px;
 padding-right:25px;
 float:left;
 width:37%;
}

@media (max-width:480px) {
 .edithome p {
  width:87.5%;
  margin:0 auto 1em auto;
 }
}

.edithome img {
 vertical-align:bottom;
}

#mo-select {
 margin:0 auto;
 width:40%;
 padding:1em 2em;
 background-color:#fcfcfc;
 border:1px solid #ccc;
 list-style-type:square;
 font-size:1.1em;
 font-family:Arial,Helvetica,sans-serif;
}

#mo-select li {
 cursor:pointer;
 padding:0.125em;
 list-style-image:url('img/menu-order-arrow.png');
}
#mo-select li.selected {
 color:#000;
 background-color:#fff;
 border:1px dashed #ddd;
 border-radius:4px;
}

.mo-btn {
 color:#555;
 margin:5px;
 padding-left:5px;
 padding-right:5px;
 background-color:#fff;
 border:1px solid #ccc;
 border-radius:2px;
 font-weight:bold;
}

.mo-btn:hover {
 color:#000;
 border:1px solid #ccd;
 box-shadow:0px 0px 1px #ccc;
}

.eventlist {
 float:right;
 width:100%;
 margin:auto;
 border:1px #555 solid;
 border-left:1px #aaa solid;
 border-top:0;
 font-family:Helvetica,sans-serif;
 box-shadow:2px 3px 2px rgba(0,0,0,0.5);
}

.eventlist caption {
 color:#333;
 font-size:1em;
 font-weight:bold;
 letter-spacing:1px;
 word-spacing:4px;
 text-shadow:1px 1px 1px rgba(0,0,0,0.3);
 margin-bottom:-5px;
}

.eventlist tr {
 /*background-color:#fafafa;*/
}

.eventlist th {
 line-height:1em;
 padding:1px;
 border-left:0;
 border-right:1px solid #44d;
 border-bottom:1px solid #000;
 font-size:0.6em;
 text-shadow:1px 1px 0px #333;
 background-color:#6090f0;
 color:#fff;
 vertical-align:baseline;
}

.eventlist td {
 margin:0;
 padding:0;
 border-spacing:0;
 border-style:solid;
 border-width:0px;
 border-bottom-width:1px;
 border-bottom-color:#aaa;
 border-right-width:1px;
 border-right-color:#eee;
 font-size:0.7em;
 text-align:center;
}

.eventlist a:link {
 text-decoration:none;
 display:block;
 color:#ffb;
}

.eventlist img {
 height:16px;
 width:16px;
}

#evtmaint {
 float:left;
 width:47%;
 margin:0;
 padding:0;
 padding-top:8px;
 min-height:40px;
 border:1px #ddd solid;
 background-color:#f0f0f0;
}

#evtsearch {
 float:right;
 width:50%;
 margin:0;
 padding:0;
 padding-top:8px;
 padding-left:16px;
 min-height:40px;
 border:1px #ddd solid;
 background-color:#f0f0f0;
}

.editcal {
 width:100%;
 margin:auto;
 margin-bottom:15px;
 border:1px #000 solid;
 box-shadow:2px 2px 3px #606060;
 font-family:Helvetica,sans-serif;
}

.editcal a {
 text-decoration:none;
 font-weight:bold;
}

.editcal caption {
 font-weight:bold;
 font-size:1.1em;
 letter-spacing:1px;
 margin-bottom:-2px;
}

.editcal th {
 width:13%;
 padding-top:3px;
 border-spacing:0;
 border:0;
 border-bottom:1px #888 solid;
 font-size:0.7em;
 line-height:80%;
 color:#fff;
 background-color:#6090f0;
 vertical-align:bottom;
}

.editcal td {
 margin:0;
 padding:0;
 border:0;
 border-bottom:1px #aaa solid;
 border-right:1px #aaa solid;
 font-size:0.6em;
 text-align:center;
 vertical-align:top;
}

.editcal .calbtn {
 font-size:0.5em;
}

.viewcal {
 border:1px #000 solid;
 width:470px;
 font-size:0.7em;
 font-family:Helvetica,sans-serif;
}

.viewcal a {
 text-decoration:none;
}

.viewcal th {
 color:#fff;
 background-color:#494;
}

.viewcal td {
 width:40px;
 height:40px;
 border-bottom:1px #aaa solid;
 border-right:1px #aaa solid;
 vertical-align:top;
}

.calday:hover {
 background-color:#fcf9ff;
 box-shadow:0px 0px 2px #ccf;
}

.caltoday {
 background-color:#f3fdfe;
}

.caltoday:hover {
 background-color:#f0feff;
 box-shadow:0px 0px 4px #cdf;
}

.calnd {
 background-color:#eee;
}

.calmonum {
 color:#22a;
 font-size:0.8em;
 font-weight:bold;
 text-align:right;
 vertical-align:top;
}

.calsmalldate {
 margin:0;
 padding:0;
 padding-bottom:2px;
 border-spacing:0;
 font-size:0.8em;
 color:#555;
}

.calevt {
 min-height:60px;
 background-color:transparent;
}

.caladdevt {
 float:left;
 margin:0;
 padding-top:2px;
 padding-left:4px;
 padding-right:8px;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px;
 border-spacing:0;
 box-shadow:1px 1px 0px rgba(33,33,33,0.4);
 font-size:1em;
 font-style:italic;
 background-color:#f8f8f8;
 vertical-align:bottom;
}

.caladdevt a {
 font-weight:normal;
 color:#888;
}

.caladdevt a:hover {
 color:#77d;
}

.calsmall {
 width:200px;
 font-size:0.3em;
}

.caladdevt {
 float:left;
 margin:0;
 padding-top:2px;
 padding-left:4px;
 padding-right:8px;
 border-top-right-radius:8px;
 border-bottom-right-radius:8px;
 border-spacing:0;
 box-shadow:1px 1px 0px rgba(33,33,33,0.4);
 font-size:1em;
 font-style:italic;
 background-color:#f8f8f8;
 vertical-align:bottom;
}

.caladdevt a {
 font-weight:normal;
 color:#888;
}

.caladdevt a:hover {
 color:#77d;
}

.selrow {
 background-color:#feffef;
}

.chkrow {
 background-color:#feefff;
}

.nrow {
 background-color:transparent;
}

.evthelp {
 float:left;
 width:90%;
 margin:10px;
 margin-left:15px;
 font-family:Arial,sans-serif;
 font-size:0.7em;
 background-color:#fafafa;
 border:1px solid #eee;
 box-shadow:3px 3px 3px #aaa;
 border-radius:4px;
}

.evthelp b {
 color:#23b;
 font-size:1.2em;
 cursor:pointer;
 text-decoration:underline;
}

.evthelp p {
 min-width:600px;
 margin:auto;
}

.helpicon {
 position:relative;
 top:8px;
 cursor:pointer;
 margin-left:10px;
 margin-right:10px;
 border:0;
 border-bottom:1px solid #aaa;
 border-right:1px solid #aaa;
 border-radius:3px;
 vertical-align:bottom;
}

.icon-sm {
 height:12px;
 width:12px;
 vertical-align:middle;
}

.eh-hidden {
 display:none;
}

.eh-shown {
 animation-duration:2s;
 animation-name: fadein;
}

@keyframes fadein {
 from { opacity:0; }
 to { opacity:1; }
}

#edithf {
 background-color:#fafafa;
 margin:auto;
 background-color:#e9e9e9;
 border-radius:4px;
 border-spacing:0;
 box-shadow:1px 3px 3px #505050;
 padding:10px;
}

#edithf b {
 font-family:Georgia,serif;
 font-size:1.2em;
}

#edithf p {
 font-family:Helvetica,sans-serif;
 font-size:0.8em;
 margin-left:-15px;
}

#edithf textarea {
 width:80%;
 height:10em;
 font-size:0.8em;
 margin-left:25px;
 margin-bottom:10px;
 font-family:Courier New,monospace;
}

.ehf-buttons {
 margin:auto;
 text-align:center;
 display:block;
}

.infobar {
 font-family:Courier New,monospace;
 color:#ffffff;
 background-color:#77f;
 text-shadow:1px 1px 0px #000;
 box-shadow:2px 2px 3px #aaa;
 padding-left:5px;
}

.errorbar {
 font-family:Courier New,monospace;
 color:#ffffff;
 background-color:#ff0000;
 text-shadow:1px 1px 0px #000;
 box-shadow:2px 2px 3px #aaa;
 padding-left:5px;
}

#dbg-info {
 float:left;
 margin:auto;
 padding:15px;
 color:#fff;
 background-color:#f11;
 font-size:1.1em;
 box-shadow:3px 3px 3px #aaa;
 text-align:left;
}

#dbg-info pre {
 font-family:Andale Mono;
 text-shadow:1px 1px 0px #333;
}

.udb-list {
 float:right;
 width:100%;
 margin-top:15px;
 margin-bottom:15px;
 border:1px solid #777;
 border-left:1px solid #eee;
 font-family:Helvetica,sans-serif;
 font-size:0.8em;
 box-shadow:3px 3px 3px #aaa;
}

.udb-list th {
 font-size:0.8em;
 padding-top:2px;
 border-left:1px solid #ccc;
 border-bottom:1px solid #ccc;
 color:#fff;
 background-color:#11b;
}

.udb-list td {
 padding-left:2px;
 border-left:1px solid #aaa;
 border-bottom:1px solid #ccc;
 background-color:#f9f9f9;
 text-align:center;
}

.udb-list img {
 height:16px;
 width:16px;
}

.udb-edit {
 margin:auto;
 background-color:#e9e9e9;
 border-radius:4px;
 border-spacing:0;
 box-shadow:1px 3px 3px #505050;
 font-size:0.9em;
}

.udb-edit th {
 text-align:right;
}

.udb-edit td {
 padding:2px;
 vertical-align:bottom;
}

.udb-edit label {
 font-family:Verdana,sans-serif;
 font-size:0.8em;
}

#login-form {
 width:55%;
 margin:auto;
 margin-top:15px;
 padding-top:12px;
 padding-bottom:12px;
 background-color:#fafafa;
 border:1px solid #ccc;
 border-radius:8px;
 box-shadow:3px 3px 3px #aaa;
 font-family:Verdana,sans-serif;
 font-size:0.7em;
 text-align:center;
}

#login-form th {
 min-width:35%;
 font-weight:normal;
 text-align:right;
}

#login-form input {
 padding:2px;
 border:1px solid #ccc;
}

#login-sub {
 position:relative;
 top:-1em;
 padding-left:3px;
 padding-right:3px;
 margin-left:8px;
 border:1px solid #000;
 border-radius:4px;
 background-color:#eee;
 color:#555;
 font-weight:bold;
}

#login-sub:hover {
 color:#000;
 box-shadow:0px 0px 1px #aaa;
}

.dtinput {
 height:1.5em;
 border:1px solid #aaa;
 border-radius:4px;
 background-color:#f9f9f9;
 background-image:url('http://twinoaksgolf.us/img/calbtn-bg.png');
 background-repeat:repeat-x;
 text-align:center;
 cursor:pointer;
}

.dpt-hidden {
 display:none;
}

.dpt-shown {
 display:normal;
 animation-duration:1s;
 animation-name: fadein;
}
